footer(id="footer" class="footer")
  div(class="container footer__container")
    a(href="#main" class="footer__logo")
      img(src="/assets/img/logo.svg" alt="")
    p(class="footer__copyright")
      | © 2021 Все права защищены.