section(id="customers" class="section customers")
  div(class="container")
    h2(class="section__h2 section__h2_center")
      | Для кого это подойдет
    div(class="customers__content")
      div(class="customer")
        img(class="customer__icon" src="/assets/img/icons/craftsman.svg" alt="")
        h3(class="section__h3 customer__title")
          | Индивидуальному предпренимателю
      div(class="customer")
        img(class="customer__icon" src="/assets/img/icons/wholesaler.svg" alt="")
        h3(class="section__h3 customer__title")
          | Среднему / крупному бизнесу
      div(class="customer")
        img(class="customer__icon" src="/assets/img/icons/factory.svg" alt="")
        h3(class="section__h3 customer__title")
          | Локальным производителям