section(id="markets" class="section markets")
  div(class="container")
    h2(class="section__h2")
      span
        | Площадки, 
      | на которых появится ваш товар
    div(class="markets__content")
      div(class="market")
        img(class="market__logo" src="/assets/img/markets/ozon.svg" alt="")
        p(class="market__price")
          span
            | Бесплатно
        div(class="market__about")
          p(class="market__info")
            span
              | 50М 
            | посетителей в месяц
          p(class="market__info")
            span
              | 19М 
            | постоянных покупателей
          p(class="market__info")
            span
              | 60К 
            | заказов в день
      div(class="market")
        img(class="market__logo" src="/assets/img/markets/wildberries-alt.png" alt="")
        p(class="market__price")
          span
            | Бесплатно
        div(class="market__about")
          p(class="market__info")
            span
              | 65М 
            | посетителей в месяц
          p(class="market__info")
            span
              | 2М 
            | постоянных покупателей
          p(class="market__info")
            span
              | 400К 
            | заказов в день
      div(class="market")
        img(class="market__logo" src="/assets/img/markets/aliexpress.svg" alt="")
        p(class="market__price")
          | от 
          span
            | 10.000 руб.
        div(class="market__about")
          p(class="market__info")
            span
              | 200М 
            | покупателей в мире
          p(class="market__info")
            span
              | 20М 
            | покупателей в России
          p(class="market__info")
            span
              | 230 
            | стран присутствия
      div(class="market")
        img(class="market__logo" src="/assets/img/markets/yandex-market.svg" alt="")
        p(class="market__price")
          | от 
          span
            | 10.000 руб.
        div(class="market__about")
          p(class="market__info")
            span
              | 173К 
            | посетителей в месяц
          p(class="market__info")
            span
              | 23М 
            | объем продаж в год
          p(class="market__info")
            span
              | 5.6К 
            | заказов в день