section(id="offer" class="section offer")
  div(class="offer__bg")
    | Акция
  div(class="container offer__container")
    div(class="offer__content")
      h2(class="section__h2")
        span
          | Бесплатная аналитика 
        | по категориям 
        br
        | и карточкам товаров при регистрации!
      p(class="offer__text")
        | При регистрации мы бесплатно предоставим вам информацию 
        br
        | по ключевым показателям необходимой категории 
        br
        | и ключевым конкурентам.
    div(class="offer__form")
      <script>!function(a,m,o,c,r,m){a[o+c]=a[o+c]||{setMeta:function(p){this.params=(this.params||[]).concat([p])}},a[o+r]=a[o+r]||function(f){a[o+r].f=(a[o+r].f||[]).concat([f])},a[o+r]({id:"802552",hash:"6a6333a93a3539f660f3200d67447491",locale:"ru"})}(window,0,"amo_forms_","params","load");</script>
      script(id="amoforms_script_802552" async="async" charset="utf-8" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js?1625075189")