section(id="services" class="section services")
  div(class="container services__container")
    div(class="services__content")
      div(class="services__block")
        h2(class="section__h2")
          | Наши услуги
        div(class="services__list")
          div(class="service service_decor")
            img(class="service__icon" src="/assets/img/icons/facilities.svg" alt="")
            div(class="service__content")
              h3(class="section__h3 service__title")
                | Анализ
              p(class="service__desc")
                | Исследование товарных категорий 
                br
                | и предоставление основных 
                br
                | показателей по карточкам конкурентов
          div(class="service service_decor")
            img(class="service__icon" src="/assets/img/icons/goal.svg" alt="")
            div(class="service__content")
              h3(class="section__h3 service__title")
                | Стратегия
              p(class="service__desc")
                | Помощь в стратегической части 
                br
                | ведения товарных позиций в условиях 
                br
                | конкурентой среды
          div(class="service service_decor")
            img(class="service__icon" src="/assets/img/icons/support.svg" alt="")
            div(class="service__content")
              h3(class="section__h3 service__title")
                | Сопровождение
              p(class="service__desc")
                | Консультация по любым вопросам, 
                br
                | возникающим во время работы 
                br
                | на площадках
          div(class="service service_decor")
            img(class="service__icon" src="/assets/img/icons/ads.svg" alt="")
            div(class="service__content")
              h3(class="section__h3 service__title")
                | Продвижение
              p(class="service__desc")
                | Настройка рекламных компаний 
                br
                | c использованием внутренних 
                br
                | инструментов площадок
      div(class="services__block")
        h2(class="section__h2")
          | Дополнительные услуги
        div(class="services__list")
          div(class="service")
            img(class="service__icon" src="/assets/img/icons/knowledge.svg" alt="")
            div(class="service__content")
              h3(class="section__h3 service__title")
                | Контент и дизайн
              p(class="service__desc")
                | Поможем выбрать подходящее наполнение 
                br
                | и оформление карточки товара
            a(class="service__price" href="#form")
              | Индивидуально
          div(class="service")
            img(class="service__icon" src="/assets/img/icons/advice.svg" alt="")
            div(class="service__content")
              h3(class="section__h3 service__title")
                | Хранение и логистика
              p(class="service__desc")
                | Прием товара и хранение на нашем складе, 
                br
                | упаковка товара (включая маркировку), 
                br
                | отправка на склады маркетплейсов
            a(class="service__price" href="#form")
              | Индивидуально
