section(id="stages" class="section stages")
  div(class="stages__decor")
    span
  div(class="container")
    h2(class="section__h2 section__h2_center")
      | Этапы работы
    div(class="section__content stages__content")
      div(class="stage")
        img(class="stage__icon" src="/assets/img/icons/analysis.svg" alt="")
        div(class="stage__number")
          | 1
        h3(class="stage__title section__h3")
          | Анализ товарной категории
        p(class="stage__desc")
          | Предоставим общую информацию 
          br
          | о вашей товарной категории 
          br
          | и ключевых конкурентах
      div(class="stage")
        img(class="stage__icon" src="/assets/img/icons/check-list.svg" alt="")
        div(class="stage__number")
          | 2
        h3(class="stage__title section__h3")
          | Регистрация на площадке
        p(class="stage__desc")
          | Оформим заявку на регистрацию 
          br
          | и настроим личный кабинет
      div(class="stage")
        img(class="stage__icon" src="/assets/img/icons/ecommerce.svg" alt="")
        div(class="stage__number")
          | 3
        h3(class="stage__title section__h3")
          | Заведение карточек товара
        p(class="stage__desc")
          | Создадим карточки товаров, исходя 
          br
          | из предоставленной вами информации
      div(class="stage")
        img(class="stage__icon" src="/assets/img/icons/feedback.svg" alt="")
        div(class="stage__number")
          | 4
        h3(class="stage__title section__h3")
          | Выбор схемы продаж
        p(class="stage__desc")
          | Поможем выбрать оптимальную 
          br
          | логистическую схему
      div(class="stage")
        img(class="stage__icon" src="/assets/img/icons/cash.svg" alt="")
        div(class="stage__number")
          | 5
        h3(class="stage__title section__h3")
          | Расчет ценообразования
        p(class="stage__desc")
          |  Проинформируем о существующих 
          br
          | комиссиях и поможем сформировать 
          br
          | розничную цену
      div(class="stage")
        img(class="stage__icon" src="/assets/img/icons/distribution.svg" alt="")
        div(class="stage__number")
          | 6
        h3(class="stage__title section__h3")
          | Формирование поставок
        p(class="stage__desc")
          | Оформляем заявки на поставку 
          br
          | и контролируем все 
          br
          | необходимые этапы
      div(class="stage")
        img(class="stage__icon" src="/assets/img/icons/digital-marketing.svg" alt="")
        div(class="stage__number")
          | 7
        h3(class="stage__title section__h3")
          | Работа с инструментами продвижения
        p(class="stage__desc")
          | Сформируем стратегию 
          br
          | продвижения товаров и настроим 
          br
          | рекламные кампании