<!DOCTYPE html>
html(lang="ru")
  head
    include parts/head.pug

    link(rel="stylesheet" href="/assets/css/fontawesome.min.css")
    link(rel="stylesheet" href="/assets/css/style.min.css")
  body(id="body")
    div(id="root" class="root")
      include parts/header.pug

      include sections/main.pug
      include sections/markets.pug
      include sections/customers.pug
      include sections/services.pug
      include sections/stages.pug
      include sections/offer.pug

      include parts/footer.pug

    //-     transition(name="modal")
    //-       include modals/signIn.pug
    //-     transition(name="modal")
    //-       include modals/services.pug
    //-     transition(name="modal")
    //-       include modals/modal.pug
    //-     transition(name="alert")
    //-       include modals/alert.pug

    script(src="/assets/js/vue.min.js")
    script(src="/assets/js/script.js")